.ChessBoard {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.ChessBoard th {
    padding: .5em;
}

.ChessBoard td {
    border: 1px solid;
    width: 5em;
    height: 5em;
}

.ChessBoard .dark {
    background: rgb(175, 138, 105);
}

.ChessBoard .light {
    background: rgb(237, 218, 185);
}

.ChessBoard .White-Bishop {
    background-image: url('./img/white_bishop.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-Bishop {
    background-image: url('./img/black_bishop.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .White-Knight {
    background-image: url('./img/white_knight.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-Knight {
    background-image: url('./img/black_knight.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .White-Rook {
    background-image: url('./img/white_rook.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-Rook {
    background-image: url('./img/black_rook.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .White-Queen {
    background-image: url('./img/white_queen.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-Queen {
    background-image: url('./img/black_queen.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .White-King {
    background-image: url('./img/white_king.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-King {
    background-image: url('./img/black_king.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .White-Pawn {
    background-image: url('./img/white_pawn.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .Black-Pawn {
    background-image: url('./img/black_pawn.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}