.ChessBoard {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.ChessBoard th {
    padding: .5em;
}

.ChessBoard td {
    border: 1px solid;
    width: 5em;
    height: 5em;
}

.ChessBoard .dark {
    background: rgb(175, 138, 105);
}

.ChessBoard .light {
    background: rgb(237, 218, 185);
}

.ChessBoard .white-bishop {
    background-image: url('./img/white_bishop.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-bishop {
    background-image: url('./img/black_bishop.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .white-knight {
    background-image: url('./img/white_knight.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-knight {
    background-image: url('./img/black_knight.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .white-rook {
    background-image: url('./img/white_rook.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-rook {
    background-image: url('./img/black_rook.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .white-queen {
    background-image: url('./img/white_queen.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-queen {
    background-image: url('./img/black_queen.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .white-king {
    background-image: url('./img/white_king.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-king {
    background-image: url('./img/black_king.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .white-pawn {
    background-image: url('./img/white_pawn.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}

.ChessBoard .black-pawn {
    background-image: url('./img/black_pawn.png');
    background-repeat: no-repeat;
    background-size:5em 5em;
}